<!DOCTYPE html>
<html>
<head>
<title>{{ id }}</title>
<style>
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Lato, Helvetica, Arial, sans-serif;
    line-height: 150%;
    color: #555;
    box-sizing: border-box;
}
main {
    margin: 0 20px 100px 20px;
}
header, footer {
    background-color: #4D2F71; /* $purple */;
    color: white;
    font-size: .9em;
}
header {
    padding: 30px 0 0 30px;
    min-height: 80px;
}
header h1 {
    color: #fff;
}
footer {
    padding: 2em;
    text-align: center;
    min-height: 1.2em;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
footer a, header a {
    color: white;
    text-decoration: none;
    padding-bottom: .125em;
    border: 0;
}
footer a:hover, header a:hover {
    color: #ddd;
    text-decoration: none;
    padding-bottom: .125em;
    border-bottom: 1px solid #ddd;
}
h1 {
    color: #34204D; /* $purple-dark */
    line-height: 130%;
    font-size: 2.6rem;
    letter-spacing: -.02em;
    font-weight: 400;
    margin-top: 0;
}
p {
  margin: 10px;
}
a {
    color: #7800a0; /* $purple-bright, used only for links */
    text-decoration: none;
    padding-bottom: .125em;
    border-bottom: 1px solid #DFBFFF;
}
a:hover {
    color: #4D2F71; /* $purple */
    border-bottom: 1px solid #4D2F71;
}
</style>
</head>
<body>
    <header>
        <h1>{{ id }}</h1>
    </header>
    <main>
        {% for g in dataset %}
            {% if g.id is defined and g|length > 1 %}
            <h2>{{ g.id }}</h2>
            {% endif %}
            {% for k, v in g %}
              {% if k != "id" and v.label is defined %}
                <p><a href="{{ k }}">{{ v.label }}</a></p>
                <ul>
                    {% for t in v.triples %}
                    <li>
                        {% if t.url is defined %}
                            <a href="{{ t.url }}">{{ t.label }}</a>
                        {% else %}
                            {{ t.label }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
        {% endfor %}
    </main>
    <footer> </footer>
</body>
</html>
